
:root { 
  --black: #0f0a0a; 
  --primary: #42e2b8; 
  --gradient: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%); 
  --headline1: 700 5.9375rem/9.6068754196167rem Oxygen; 
  --headline2: 700 3.6875rem/5.96637487411499rem Oxygen; 
  --headline3: 700 3rem/4.854000091552734rem Oxygen; 
  --headline4: 700 2.125rem/3.4382500648498535rem Oxygen; 
  --headline5: 700 1.5rem/2.427000045776367rem Oxygen; 
  --body1: 400 1rem/1.6180000305175781rem Oxygen; 
  --body2: 400 0.875rem/1.4157500267028809rem Oxygen; 
  --button: 700 0.875rem/1.4157500267028809rem Oxygen; 
  --caption: 400 0.75rem/1.2135000228881836rem Oxygen; 
}

body {
  color: var(--white);
  font: var(--body1); 
  background: var(--gradient); 
}

h1{
  font: var(--headline1);
}

h2{
  font: var(--headline2);
}

h3{
  font: var(--headline3);
}

h4{
  font: var(--headline4);
}

h5{
  font: var(--headline5);
}

.cabezera li{
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.cabezera{
  margin-top: 15px;
}

button {
      margin-left: 196px;
      margin-top: 15px;
      background: blue;
      color: white;
}

.nombre-logo{
  font-size: 20px;
  margin-left: 6px;

}

.holatodos{
  margin-left: 123px;
}
.nombre-mi{
  margin-left: 121px;
  font-size: 50px;
  margin-top: -44px;
}

.text-mi{
  margin-left: 121px;
}

.redes-sociales li{
  display: inline-block;
  
  margin: 10px;
}

.redes-sociales{
  margin-left: 75px;

}

.mini-bio{
  text-align: center;
  margin-top: 130px;
}

.titulo{
    margin-top: 100px;
    background-color: black;
    width: 55%;
    border-left: 3px solid white;
    padding-top: 1px;
    height: 59px;
    border-bottom: 3px solid white;
    margin-bottom: 11px;

}
.titulo h2{
  color: #42e2b8;
  font-size: 44px;
  line-height: 50px;



}

footer{
  margin-top: 50px;
}
.pie-msj{
  font-size: 10px;
}

input{
  border-radius: 7px;
  width: 583px;
  height: 42px;
  border: 1px solid grey;
}

form .formupie {
  width: 576px;
    text-align: left;
}

textarea{
  width: 583px;
    border-radius: 7px;
    height: 212px;
}